In [1]:
from env import host, user, password
import acquire
import prepare
import wrangle

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = acquire.get_zillow()

In [4]:
zillow= prepare.prep_zillow(df)

In [6]:
zillow.head()

,total_sqft,bedrooms,bathrooms,value_assessed,taxamount,unitcnt,yearbuilt,fips,tax_rate
0,1316.0,3.0,2.0,205123.0,2627.48,1.0,1923.0,6037.0,1.280929
1,1458.0,3.0,2.0,136104.0,2319.90,1.0,1970.0,6037.0,1.704505
2,1421.0,2.0,1.0,35606.0,543.69,1.0,1911.0,6037.0,1.526962
4,1491.0,3.0,2.0,107110.0,1399.27,1.0,1955.0,6037.0,1.306386
5,1650.0,3.0,2.0,614000.0,7673.19,1.0,1949.0,6037.0,1.249705

In [7]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17888 entries, 0 to 28417
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_sqft      17888 non-null  float64
 1   bedrooms        17888 non-null  float64
 2   bathrooms       17888 non-null  float64
 3   value_assessed  17888 non-null  float64
 4   taxamount       17888 non-null  float64
 5   unitcnt         17888 non-null  float64
 6   yearbuilt       17888 non-null  float64
 7   fips            17888 non-null  float64
 8   tax_rate        17888 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [ ]:
#split 
X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.train_validate_test(zillow, 'taxvaluedollarcnt')

In [ ]:
#add numeric columns to be scaled (except y_train (taxvaluedollarcnt))
numeric_cols = ['calculatedfinishedsquarefeet', 'bedroomcnt', 'bathroomcnt',
       'taxamount', 'unitcnt', 'yearbuilt', 'fips', 'tax_rate']

In [ ]:
#scale data
X_train_scaled, X_validate_scaled, X_test_scaled = wrangle.min_max_scale(X_train, X_validate, X_test, numeric_cols)