In [1]:
from env import host, user, password
import acquire
import prepare
import wrangle

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = acquire.get_zillow_file()

In [ ]:
zillow= prepare.prep_zillow(df)

In [ ]:
zillow.head()

In [ ]:
zillow.info()

In [4]:
zillow_dummy= prepare.final_prep_zillow(df)

In [5]:
zillow_dummy.head()

,total_sqft,bedrooms,bathrooms,value_assessed,tax_amount,year_built,county_code,parcelid,tax_rate,total_sqft,...,bedrooms_3.0,bedrooms_4.0,bedrooms_5.0,bathrooms_1.0,bathrooms_1.5,bathrooms_2.0,bathrooms_2.5,bathrooms_3.0,bathrooms_3.5,bathrooms_4.0
0,1316.0,3.0,2.0,205123.0,2627.48,1923.0,6037.0,11721753,1.280929,1316.0,...,1,0,0,0,0,1,0,0,0,0
1,1458.0,3.0,2.0,136104.0,2319.90,1970.0,6037.0,11289917,1.704505,1458.0,...,1,0,0,0,0,1,0,0,0,0
2,1421.0,2.0,1.0,35606.0,543.69,1911.0,6037.0,11705026,1.526962,1421.0,...,0,0,0,1,0,0,0,0,0,0
3,2541.0,4.0,3.0,880456.0,9819.72,2003.0,6059.0,14269464,1.115299,2541.0,...,0,1,0,0,0,0,0,1,0,0
4,1491.0,3.0,2.0,107110.0,1399.27,1955.0,6037.0,11446756,1.306386,1491.0,...,1,0,0,0,0,1,0,0,0,0

In [ ]:
#split 
X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.train_validate_test(zillow, 'taxvaluedollarcnt')

In [ ]:
#add numeric columns to be scaled (except y_train (taxvaluedollarcnt))
numeric_cols = ['calculatedfinishedsquarefeet', 'bedroomcnt', 'bathroomcnt',
       'taxamount', 'unitcnt', 'yearbuilt', 'fips', 'tax_rate']

In [ ]:
#scale data
X_train_scaled, X_validate_scaled, X_test_scaled = wrangle.min_max_scale(X_train, X_validate, X_test, numeric_cols)