In [2]:
import prepare
import acquire

In [3]:
df= acquire.get_zillow_file()

In [4]:
#this is the final prep file with outliers removed, columns renamed, 
df = prepare.final_prep_zillow(df)

In [5]:
df.head()

,total_sqft,bedrooms,bathrooms,value_assessed,tax_amount,year_built,county_code,parcelid,tax_rate
0,1316.0,3.0,2.0,205123.0,2627.48,1923.0,6037.0,11721753,1.280929
1,1458.0,3.0,2.0,136104.0,2319.90,1970.0,6037.0,11289917,1.704505
2,1421.0,2.0,1.0,35606.0,543.69,1911.0,6037.0,11705026,1.526962
3,2541.0,4.0,3.0,880456.0,9819.72,2003.0,6059.0,14269464,1.115299
4,1491.0,3.0,2.0,107110.0,1399.27,1955.0,6037.0,11446756,1.306386

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24610 entries, 0 to 28417
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   total_sqft      24610 non-null  float64
 1   bedrooms        24610 non-null  float64
 2   bathrooms       24610 non-null  float64
 3   value_assessed  24610 non-null  float64
 4   tax_amount      24610 non-null  float64
 5   year_built      24610 non-null  float64
 6   county_code     24610 non-null  float64
 7   parcelid        24610 non-null  int64
 8   tax_rate        24610 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.9 MB