In [1]:
from env import host, user, password
import acquire

In [2]:
df = acquire.get_zillow()

In [3]:
df.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxvaluedollarcnt,taxamount
0,3100.0,4.0,3.5,1023282.0,11013.72
1,1465.0,2.0,1.0,464000.0,5672.48
2,1243.0,3.0,2.0,564778.0,6488.30
3,2376.0,4.0,3.0,145143.0,1777.51
4,1312.0,3.0,3.0,119407.0,1533.89

In [8]:
#calculate tax rate
df['tax_rate'] =df['taxamount']/  df['taxvaluedollarcnt']

In [9]:
df.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxvaluedollarcnt,taxamount,tax_rate
0,3100.0,4.0,3.5,1023282.0,11013.72,0.010763
1,1465.0,2.0,1.0,464000.0,5672.48,0.012225
2,1243.0,3.0,2.0,564778.0,6488.30,0.011488
3,2376.0,4.0,3.0,145143.0,1777.51,0.012247
4,1312.0,3.0,3.0,119407.0,1533.89,0.012846