# Acquire

In [1]:
from env import host, user, password
import acquire
import prepare
import wrangle

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = acquire.get_zillow()

In [4]:
df.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxvaluedollarcnt,taxamount,unitcnt,yearbuilt,fips
0,1316.0,3.0,2.0,205123.0,2627.48,1.0,1923.0,6037.0
1,1458.0,3.0,2.0,136104.0,2319.90,1.0,1970.0,6037.0
2,1421.0,2.0,1.0,35606.0,543.69,1.0,1911.0,6037.0
3,2541.0,4.0,3.0,880456.0,9819.72,NaN,2003.0,6059.0
4,1491.0,3.0,2.0,107110.0,1399.27,1.0,1955.0,6037.0

In [5]:
#calculate tax rate
#df['tax_rate'] =df['taxamount']/  df['taxvaluedollarcnt']

In [6]:
#df.head()

# Prepare

In [7]:
zillow= prepare.prep_zillow(df)

In [8]:
zillow.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxvaluedollarcnt,taxamount,unitcnt,yearbuilt,fips,tax_rate
0,1316.0,3.0,2.0,205123.0,2627.48,1.0,1923.0,6037.0,1.280929
1,1458.0,3.0,2.0,136104.0,2319.90,1.0,1970.0,6037.0,1.704505
2,1421.0,2.0,1.0,35606.0,543.69,1.0,1911.0,6037.0,1.526962
4,1491.0,3.0,2.0,107110.0,1399.27,1.0,1955.0,6037.0,1.306386
5,1650.0,3.0,2.0,614000.0,7673.19,1.0,1949.0,6037.0,1.249705

In [9]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17888 entries, 0 to 28417
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   calculatedfinishedsquarefeet  17888 non-null  float64
 1   bedroomcnt                    17888 non-null  float64
 2   bathroomcnt                   17888 non-null  float64
 3   taxvaluedollarcnt             17888 non-null  float64
 4   taxamount                     17888 non-null  float64
 5   unitcnt                       17888 non-null  float64
 6   yearbuilt                     17888 non-null  float64
 7   fips                          17888 non-null  float64
 8   tax_rate                      17888 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [10]:
#split 
X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.train_validate_test(zillow, 'taxvaluedollarcnt')

X_train -> (10017, 8)
X_validate -> (4293, 8)
X_test -> (3578, 8)

In [11]:
#take a look at X_train
X_train.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxamount,unitcnt,yearbuilt,fips,tax_rate
2817,1769.0,4.0,2.0,2304.43,1.0,1950.0,6037.0,1.367476
18738,2796.0,5.0,4.0,6925.91,1.0,1969.0,6037.0,1.099007
993,1159.0,3.0,2.0,3708.58,1.0,1950.0,6037.0,1.217529
19938,3745.0,4.0,5.0,20210.38,1.0,1928.0,6037.0,1.205564
3270,1266.0,3.0,2.0,703.36,1.0,1961.0,6037.0,1.700210

In [12]:
#add numeric columns to be scaled (except y_train (taxvaluedollarcnt))
numeric_cols = ['calculatedfinishedsquarefeet', 'bedroomcnt', 'bathroomcnt',
       'taxamount', 'unitcnt', 'yearbuilt', 'fips', 'tax_rate']

In [13]:
#scale data
X_train_scaled, X_validate_scaled, X_test_scaled = wrangle.min_max_scale(X_train, X_validate, X_test, numeric_cols)

In [14]:
#now take a look at X_train after being scaled (minmaxscaler)
X_train_scaled.head()

,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,taxamount,unitcnt,yearbuilt,fips,tax_rate
2817,0.043192,0.333333,0.181818,0.010196,0.0,0.521739,0.0,0.015715
18738,0.072203,0.416667,0.363636,0.031774,0.0,0.659420,0.0,0.012423
993,0.025960,0.250000,0.181818,0.016752,0.0,0.521739,0.0,0.013876
19938,0.099011,0.333333,0.454545,0.093803,0.0,0.362319,0.0,0.013729
3270,0.028983,0.250000,0.181818,0.002720,0.0,0.601449,0.0,0.019794

# Explore

In [16]:
y_train.describe()

count    1.001700e+04
mean     5.034313e+05
std      7.391788e+05
min      1.000000e+03
25%      1.670430e+05
50%      3.314460e+05
75%      5.615590e+05
max      1.562392e+07
Name: taxvaluedollarcnt, dtype: float64

In [17]:
y_train = pd.DataFrame(y_train)
y_validate = pd.DataFrame(y_validate)

In [18]:
y_train.head()

       taxvaluedollarcnt
2817            168517.0
18738           630197.0
993             304599.0
19938          1676426.0
3270             41369.0